<div id="contactDiv" class="show inset-shadow" ng-show="toggle" togglestyle>
    <div class="well well-large">
        gdjfgjdhgfhgdshjgf
       <!--  <h1> {{ title }} <small> {{ body }} </small></h1> -->
    </div>
</div>

<!--    <footer ng-controller="ContactCtrl">
        <div id="btn-up" ng-click="toggle = !toggle" class="arrow-right-up" togglestyle>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div id="bottomBar" ng-hide="toggle" class="footerBar inset-shadow">Footer</div>
        <!-- <div class="contactinfo" ng-animate="'animate'"></div> 

    </footer> -->