<!doctype html>
<html ng-app="website">

<head>
    <title>Zaeire Artisan Chocolates</title>

    <!-- <{ LOAD LIBRARIES }> -->
    <script type="text/javascript" src="app/lib/jQuery.min.js"></script>
    <script type="text/javascript" src="app/lib/swipeview.js"></script>
    <script type="text/javascript" src="app/lib/angular.min.js"></script>
    <!--<script type="text/javascript" src="app/lib/bootstrap/ui-bootstrap-custom-0.6.0.min.js"></script>
        <script type="text/javascript" src="app/lib/bootstrap/ui-bootstrap-custom-tpls-0.6.0.min.js"></script> -->


    <!-- <{ APP ENTRY POINT }> -->
    <script type="text/javascript" src="app/app.js"></script>

    <!-- <{ STYLING }> -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/swipeview.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <!--{___________________________________________________________________________}-->
    <!-- <{ MAIN SITE NAVIGATION }> -->
    <header ng-controller="MainCtrl" class="page-header">
        <div id="pageLogo" class="logo">
            <div id="mainNav" class="nav">
                <a ng-click="setRoute('home')" class="nav-links">Home</a>
                <a ng-click="setRoute('chocolates')" class="nav-links">Chocolates</a>
                <a ng-click="setRoute('products')" class="nav-links">Products</a>
            </div>
        </div>
    </header>


    <!-- <{ VIEWS ENTRY POINT }> -->
    <div ng-cloak ng-view class="container-fluid"></div>


    <!-- SLIDE UP CONTACT INFO -->
    <footer ng-controller="ContactCtrl">
        <div id="btn-up" ng-click="toggle = !toggle" class="arrow-right-up" togglestyle>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div id="bottomBar" ng-hide="toggle" class="footerBar inset-shadow">Footer</div>
        <div class="contactinfo" ng-animate="'animate'"></div>
    </footer>
    <contactinfo></contactinfo>
    <!--{___________________________________________________________________________}-->

    <!-- <{ CONTROLLERS }> -->
    <script src="app/controllers/MainCtrl.js"></script>
    <script src="app/controllers/Home.js"></script>
    <script src="app/controllers/Contact.js"></script>
    <script src="app/controllers/Products.js"></script>
    <script src="app/controllers/Chocolates.js"></script>



    <!-- <{ DIRECTIVES }> -->
    <script src="app/directives/slideToggle.js"></script>
    <script src="app/directives/chocoGallery.js"></script>
    <script src="app/directives/AngularStrap.js"></script>



    <!-- <{ SERVICES }> -->
    <script src="app/services/MainContent.js"></script>
</body>

</html>