    <!-- GALLERY CONTAINER -->
    <div class="box">
        {{ chocoGallery }}
        <div id="chocolates"></div>

        <!-- GALLERY NAV-->
        <ul id="nav">
            <li id="prev" onclick="gallery.prev()">-</li>
            <li onclick="gallery.goToPage(1)"></li>
            <li onclick="gallery.goToPage(2)"></li>
            <li onclick="gallery.goToPage(3)"></li>
            <li onclick="gallery.goToPage(4)"></li>
            <li onclick="gallery.goToPage(5)"></li>
            <li id="next" onclick="gallery.next()">+</li>
        </ul>
    </div>
